<footer class="main-footer bg-white">
    <div class="row">
        <div class="col-md-12 text-center py-3">
            <h5>Sales/Reservations </h5>
            <strong><i class="fa fa-phone" aria-hidden="true"></i> (829) 820-5200 | <i class="fa fa-envelope-o" aria-hidden="true"></i> info@dominicanshuttles.com</strong>
        </div>
    </div>
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-md-4">
                <h5>Home Links</h5>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="about">About us</NavLink>
                    </li>
                    <li class="nav-item">
                        <NavLink class="nav-link" href="privacy">Privacy Policy</NavLink>
                    </li>
                </ul>

            </div>

            <div class="col-md-4">
                <h5>Our Services</h5>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Ground Transfer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Charters &amp; Jets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Ferry &amp; Shuttle Combination</a>
                    </li>
                </ul>
            </div>

            <div class="col-md-4">
                <h5>Get Updates</h5>
                <ul class="nav">
                    <li><a href="https://www.facebook.com/Dominican-Shuttles-725520644142404/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook Page</a></li>
                    <!--
                    <li><img src="https://www.dominicanshuttles.com/img/blog.png" alt="New blog posts"> &nbsp;<a href="#">New blog posts</a></li>

                    <li><img src="https://www.dominicanshuttles.com/img/twitter.png" alt="Twitter"> &nbsp;<a href="https://twitter.com/dominicanshuttl">Follow us on Twitter</a></li>
                    <li><img src="https://www.dominicanshuttles.com/img/linkedin.png" alt="Linkedin"> &nbsp;<a href="https://www.linkedin.com/profile/view?id=AAEAAAz7Ci4BtQdPh__6BNfXrY6Y_8kiak9cBxQ">Linked Profile</a></li>
                    <li><img src="https://www.dominicanshuttles.com/img/su.png" alt="Stumble upon profile"> &nbsp;<a href="http://www.stumbleupon.com/stumbler/david-teller">Stumble Upon Profile</a></li>
                    -->
                </ul>
            </div>

        </div>
    </div>

    <hr>
    <div class="row text-center">
        <div class="col-md-12">
            <span><img src="https://www.dominicanshuttles.com/images/payments/mastercard-4.jpg" height="30"></span>
            <span><img src="https://www.dominicanshuttles.com/images/payments/visa.jpg" height="30"></span>
            <span><img src="https://www.dominicanshuttles.com/images/payments/amex-card.jpg" height="30"></span>
            <span><img src="https://www.dominicanshuttles.com/images/payments/discover-4.jpg" height="60"></span>
        </div>
        <div class="col-md-12">
            Copyright © DominicanShuttles.com LLC, All Rights Reserved.
        </div>
    </div>

</footer>