@inherits LayoutComponentBase

<div class="main">
    <div class="container shadow-sm">

        <Header />
        @*<div class="top-row px-4 auth">
            <LoginDisplay />
        </div>*@

        <div class="row px-2">
            <div class="col-md-9 py-4">
                @Body
            </div>

            <div class="col-md-3 py-4">
                <div class="card bg-white shadow-sm mb-3">
                    <div class="card-body">
                        Contact form
                    </div>
                </div>

                <div class="card bg-white shadow-sm mb-3">
                    <div class="card-body">
                        ULRs with images
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
