@page "/"

<div class="card bg-white shadow-sm mb-2">
    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <h5 for="inputEmail4">FROM - PICK UP LOCATION <small>(Details in booking form)</small></h5>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="form-group col-md-6">
                    @*<label for="inputPassword4">Password</label>*@
                    <h5 for="inputEmail4">TO - DROP OFF LOCATION <small>(Details in booking form)</small></h5>
                    <input type="password" class="form-control" id="inputPassword4">
                </div>
            </div>
        </form>
    </div>
</div>


<div class="card bg-white shadow-sm mb-2">
    <div class="card-body">
        <img class="img-fluid" src="images/BannerSup-PorSubasta-02.png" />
    </div>
</div>

<div class="card bg-white shadow-sm mb-2">
    <div class="card-body">
        <img class="img-fluid" src="images/ds2.png" />
    </div>
</div>

<div class="card bg-white shadow-sm mb-2">
    <div class="card-body">
        <img class="img-fluid" src="images/20years2.png" />
    </div>
</div>

<div class="card bg-white shadow-sm mb-2">
    <div class="card-body">
        <p class="lead" style="font-weight:bold;"> Dominican Shuttles has been serving the tourist industry in the Dominican Republic since 2010. We are proud of our exceptional safety record and our highly acclaimed services. </p>
        <p>Our company is owner operated, prides itself on personalized services and we are always available to our customers.</p>
        <p>Dominican Shuttles services every airport and city in the country with charter aircrafts, helicopters and airplanes propeller driven and with shuttle and transfer land services. We also specialize in ferry services to Puerto Rico and Samana. We are known for our whales and ballenas tours and excursions by boat and airplane. Our locations of hotels, cities and airports is extensive and can be viewed in our drop- down data bases and the below lists of locations.</p>
        <p>We have our own fleet of vehicles and work with carefully vetted partners most of whom have been part of our transfer and tours team for many years. Our focus is on private and luxury transfers to and from all hotels, airports. We manage guests for airbnb.com, homeaway.com, hotels.com, expedia.com, viator.com, trivagio.com as well as private villa and apartment owners and management groups.</p>
        <p>We offer every tour in the country including the listed tours and excursions below.</p>
        <p>We pick up and drop of at all airports, hotels, restaurants, malls, shops, Airbnb, HomeAway, villas, apartments and community residences but even anywhere in the country our clients request.</p>
        <p>Our small aircraft charter services are the most popular in the country and service the island of Hispaniola, Haiti, Dominican Republic, Aruba and the entire Caribbean as listed below.</p>
        <p>Our reputation over the years has been honored repeatedly with Trip Advisor certifications and rewards and thousands of customer reviews. We are proud to have the highest retention rate in our industry; more than 35% of our business is repeat. Our customers book over their phones, on-line, via bookmarks or searches in Google, Firefox, Bing, Yahoo and other search engines. Our live chat is open 24 hours every day of the week and our email services reply usually within one hour. We also offer direct contact and of course phone services.</p>
        <p>We pay careful attention to our vehicle safety standards with regular maintenance schedules and particular attention of tires, brakes, safety equipment and customer comfort which starts with driver training, includes temperature controls with high quality air conditioning, very good seating and optional catering in the vehicle. Our drivers are all family oriented, well groomed and love their work and their guests. </p>
        <p>We track and advise our partners and workshops on the proper maintenance of catalytic converters and we are careful to monitor exhaust and muffler quality and carbon emissions. We will not accept vehicles that do not meet high quality and carbon controls. </p>
        <p>Our team is Dominican, American, European and Chinese. We like to share the depth of our languages which include Spanish, English, German, French, Portuguese, Arabic, Italian, Chinese and Russian.</p>
        <p>With a balance of women who work in the management and administrative areas and men who work with the vehicles and as drivers our team is well rounded and very family oriented. </p>
        <p>You will enjoy our team and you will be with the safest company in the Dominican Republic. </p>
        <p>Dominican Shuttles services all the major tourist areas such as Punta Cana, Bavaro, Macao, Cap Cana, Uvero Alto, Miches, Sabana de la Mar, La Romana, Bayahibe, Dominicus Beach, Juan Dolio, Boca Chica, Santo Domingo, Jarabacoa, Samana, Las Terrenas, Las Galeras, Cabrera, Rio San Juan, Cabarete, Sosua, Puerto Plata, Maimon, Cofresi, Luperon, as well as the major cities:  Santiago, San Pedro, San Francisco de Macoris, San Cristobal, Bani, La Vega, Nagua, etc.</p>
        <p>We have a presence at, and service all major Dominican Airports:  Punta Cana International (PUJ), Santo Domingo’s Las Americas (SDQ), Santo Domingo’s La Isabela airport (JBQ), La Romana International (LRM), Santiago Aeropuerto del Cibao (STI), Puerto Plata Gregorio Luperon International (POP), as well as Samana’s El Catey International (AZS) and the smaller local Arroyo Barril airport (ABA).</p>
    </div>
</div>