@page "/"

<div class="card bg-white shadow-sm mb-2">
    <div class="card-body">
        <form>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <h5 for="inputEmail4">FROM - PICK UP LOCATION <small>(Details in booking form)</small></h5>
                    <input type="email" class="form-control" id="inputEmail4">
                </div>
                <div class="form-group col-md-6">
                    @*<label for="inputPassword4">Password</label>*@
                    <h5 for="inputEmail4">TO - DROP OFF LOCATION <small>(Details in booking form)</small></h5>
                    <input type="password" class="form-control" id="inputPassword4">
                </div>
            </div>
        </form>
    </div>
</div>


<div class="card bg-white shadow-sm mb-2">
    <div class="card-body">
        <img class="img-fluid" src="images/BannerSup-PorSubasta-02.png" />
    </div>
</div>

<div class="card bg-white shadow-sm mb-2">
    <div class="card-body">
        <img class="img-fluid" src="images/ds2.png" />
    </div>
</div>

<div class="card bg-white shadow-sm mb-2">
    <div class="card-body">
        <img class="img-fluid" src="images/20years2.png" />
    </div>
</div>