@page "/privacy"

<h1 class="title">Dominican Shuttles Privacy Policy.</h1>


<p>1. We do not share sell or use for our own marketing any data you enter on our web site or that you share with our team, with any person or company.</p>
<p>2. Our booking data, which includes the data you have entered or given to us, is saved in either Amazon, Microsoft, Linode or Google cloud servers and we assume that the security of those servers protect the data to the best of class standards.</p>
<p>3. We only use the data you give us to manage your booking requests which include payment methods you select, organizational data is shared with transport, tour and similar service providers.</p>
<p>4. If you would like us to remove data you have given us send us an email and we will do so with 14 days and confirm same to you by return email. and we assume that the security of those servers protect the data to the best of class standards.</p>
<p>5. For any questions about your personal data or your privacy protection contact us by any of the means on our web site.</p>
<p>6. Our policy is contingent on the requirements or demands of the law or law enforcement.</p>

